#playfield {
    width: 1280px;
    height: 578px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

footer {
    bottom: 0px;
    position: absolute;
    width: 100%;
    background-color: #ccc;
    text-align: center;
}

.sprite {
    display: none;
}